{% extends "base.html" %}

{% block extracss %}{% endblock %}

{% block main %}
<div class="page-header">
	<h1><center>Elo Stars: A Quick Rundown</center></h1>
</div>
<p>
	Have you ever watched The Social Network? At the beggining of the movie Mark Zuckerberg is drinking a beer and coding in his appartment
	after insulting the girl he likes. Out of spite, huliliation and being a little tispy he starts writing a website that puts two people
	against each other and you rate who is more attractive. It caught on quickly with the school.<br>
	<br>
	Well thats what we've done here. No spite or humiliation involved in the making. Maybe a good beer or two. You can play the game just for some fun.
Have you ever wondered who is more attractive out of two 10's! Well we dont just have a 1-10 ranking. Its a little better than that. Its an Elo ranking.
The more likes your picture gets the higher the number goes but also the harder it gets to go higher. A little more acurate on those rankings.<br>
<br>
<ul>
	<li>Sign up!</li>
	<li>Upload a picture with a clear view of yourself</li>
	<li>Start ranking!</li>
</ul>
Its that easy! My picture will be in there somewhere, my friends uploaded their pictures and people we dont even know will catch on.<br>
Who will be the #1 star in this ranking? Will it be you?<br>
</p>
{% endblock main %}

{% block extrajs %}{% endblock %}
