{% extends "base.html" %}


{% block main %}

<h1>Privacy Policy</h1>
<p>
	We do not collect any personally identifiable data on people who view images.
	However, when visitor uploads image to our servers information about the visitor
	is recorded so in case of abuse of terms of service our staff can easily identify
	and block offending user. Information about uploader is available only to staff
	members that do moderation of images, that information will not be displayed
	anywhere in public or given to anyone.
</p>

{% endblock main %}