{% extends "base.html" %}

{% block extracss %}{% endblock %}

{% block main %}

{% if form %}
	<form method="post" action="">

		{% csrf_token %}

		{{ form.non_field_errors }}
		{{ form.winner.errors }}
		{{ form.key.errors }}

		<input type="hidden" name="key" value="{{ pair.key }}"/>

		<button name="winner" type="submit" value="{{ pair.left.guid }}">
			<img src="{{ pair.left.image_128x128 }}"/>
		</button>

		<button name="winner" type="submit" value="{{ pair.right.guid }}">
			<img src="{{ pair.right.image_128x128 }}"/>
		</button>
	</form>
{% else %}
	<h4>There are no people left to rate! Change your settings or come back later.</h4>
{% endif %}

{% if old_pair %}
	<hr/>
	<strong>Winner:</strong><br/>
	{% include "_rating_box.html" with picture=old_pair.left %}
	<hr/>
	<strong>Runner Up:</strong><br/>
	{% include "_rating_box.html" with picture=old_pair.right %}
	<hr/>
{% endif %}

{% endblock main %}

{% block extrajs %}{% endblock %}

