{% extends "base.html" %}


{% block main %}
<div class="page-header">
<h1><center>Terms and Conditions</center></h1>
</div>
<p>
	What cannot be uploaded to our servers:
</p>
<ul>
	<li>Copyrighted images if you don't own copyright for it</li>
	<li>Violence, racial intolerance, or advocate against any individual, group, or organization</li>
	<li>Any other images that might be considered illegal in USA or EU countries</li>
</ul>
<p>
	If you are not sure whether image you want to upload is allowed then do not upload
	that image. All uploaded images are checked by staff and images that violate terms
	will be removed without warning and uploader of such images might be banned from website.
</p>

{% endblock main %}
