<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="navbar-form navbar-right">
	<input type="hidden" name="next" value="{{ request.path|urlencode }}"/>
	{% csrf_token %}
	<div class="form-group">
		<input type="text" name="username" placeholder="Username" class="form-control">
	</div>
	<div class="form-group">
		<input type="password" name="password" placeholder="Password" class="form-control">
	</div>
	<button type="submit" value="Login" class="btn btn-success">Log In</button>
</form>